.container

  %h1.Blocipedia Blocipedia
  
  #sliderFrame
    #slider
      = image_tag("Slide A.jpg", :alt => "Blocipedia") 
      = image_tag("sheet-music-slide.jpg", :alt => "A resource for creating and maintaining user wikis.")
      = image_tag("Slide C.jpg", :alt => "Explore anything you're interested in!")  
      = image_tag("KidsSlide.jpg", :alt => "Then invite others to join you in exploring your topics.")
      = image_tag("Slide D.jpg", :alt => "Add your own images to your wikis!")
      = image_tag("Slide F.jpg", :alt => "Format your wikis using Markdown language.")
  %br
  .row
    .col-md-6
      %h3 Create as many public wikis as you want!
      = link_to "Free Plan", new_user_registration_path, class: 'btn btn-success'
    .col-md-6
      %h3 Create and share private wikis!
      = link_to "Premium Plan", new_charge_path, class: 'btn btn-success'
