.container
  .row
    .col-md-9
      %h1 Edit Wiki
      - if @wiki.personal
        %h3 Private
      %br
      = form_for @wiki do |f| 
        = f.label :title
        %br
        = f.text_field :title, :size => 50
        %br
        = f.label :body
        %br
        = f.text_area :body, cols: 140, rows: 10
        %br
        - if current_user.creator?(@wiki, current_user) && policy(@wiki).add_collaborators?
          %p Select collaborators:
          = f.collection_check_boxes :user_ids, User.where(role: "premium"), :id, :email
        %br
        = f.submit 'Save'
      
      .col-md-3
<<<<<<< HEAD
        = link_to 'Add Image', new_image_path(:wiki_id => @wiki.id), class: 'btn btn-success'

=======
        = link_to 'Add Image', new_image_path(wiki_id:@wiki.id)
>>>>>>> wiki-images
