%h1 All Wikis
%br
- if policy(Wiki.new).create?
  = link_to 'New Wiki', new_wiki_path, class: 'btn btn-success'
- if current_user && current_user.premium
  = link_to 'Create Private Wiki', private_wiki_new_path, class: 'btn btn-success'
%br
- @wikis.each do |wiki|
  %h1= link_to wiki.title, wiki
  - if @user.creator?(wiki, @user)
    = link_to "Edit", edit_wiki_path
    = link_to "Delete", wiki, method: delete, remote: true
  %p
    = markdown(wiki.body) 
  %h5 
    Created
    = time_ago_in_words(wiki.created_at)
    ago
  
