%h1= @wiki.title
%br
%p
  = markdown(@wiki.body)
%h4 
  Created 
  = time_ago_in_words(@wiki.created_at)
  ago
= link_to "Back to Index", wikis_path
%br
- if policy(@wiki).edit?
  = link_to "Edit", edit_wiki_path, class: 'btn btn-success'
