.container
  .row
    .col-md-9
      %h1 Private Wiki
      %br
      %p Feel free to use Markdown to format your wiki. The following link can help you do this, if you like: #{link_to 'A basic guide to Markdown syntax', 'https://guides.github.com/features/mastering-markdown'}
      %p It's also fine, of course, simply to use basic text for your content.

      = form_for @wiki do |f| 
        = f.label :title
        %br
        = f.text_field :title, :size => 50, placeholder: 'Title'
        %br
        = f.label :body
        %br
        = f.text_area :body, placeholder: 'Body', cols: 120, rows: 10
        %br
        = f.hidden_field :personal, :value => true
        = f.hidden_field :user_id, :value =>current_user.id
        %br
        - if policy(@wiki).add_collaborators? 
          %p Select collaborators:
          = f.collection_check_boxes :user_ids, User.where(role: 'premium'), :id, :email
        %br
        = f.submit 'Save'

    .col-md-3
      %br
      .italic As a creator or collaborator of a wiki may add as many images to your wiki as you like, either in the Edit Wiki form or from the Wiki page directly. 