!!!
%html
  %head
    %title Blocipedia
    = stylesheet_link_tag    "applicationb", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "js-image-slider", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "js-image-slider", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    .container
      %ul.nav.nav-tabs
        %li
          = link_to "Blocipedia", root_path
        %li
          = link_to "Public Wikis", wikis_path
        - if current_user
          %li
            = link_to "Create Wiki", options_path
        -if current_user && !current_user.premium?
          %li
            = link_to "Become a PREMIUM member!", new_charge_path
        -if current_user && current_user.premium?
          %li
            = link_to "Private Wikis", private_wiki_index_path

        .pull-right.user-info
          - if current_user
            = image_tag(current_user.avatar.tiny.url) if current_user.avatar?
            =link_to current_user.name || current_user.email, mine_path
            =link_to edit_user_registration_path, class: 'btn btn-primary bt-sm' do
              %span.glyphicon.glyphicon-user
            = link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do
              %span.glyphicon.glyphicon-log-out
          - else
            = link_to "Sign In", new_user_session_path 
            &nbsp;
            = link_to "Sign Up (free)", new_user_registration_path
      
  
    .notices
      %p= flash[:notice] if flash[:notice]


    = yield 

    